
<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>

    <div class="container"> <br>

        <div class="card">
            <div class="card-header">
                <h2>Editar artigo</h2>
            </div>

            <div class="card-body">
                <form method="POST" action="/artigo/atualizar">

                    <input type="hidden" value="<%= artigo.id %>" name="id">

                    <input class="form-control" type="text" name="titulo"
                        placeholder="Defina o titulo do artigo" value="<%= artigo.titulo %>"> <br>

                    <textarea class="form-control" placeholder="Escreva o artigo aqui" name="assunto" id="artigo"   <%- artigo.body %>></textarea> <br>

                    <label for="">Categoria</label> <br>

                    <select name="categoria" id="" class="form-control">
                        <% categoria.forEach((categoria) => { %>

                            <% if (categoria.id == artigo.categoriaId ) { %>
                                <option value="<%= categoria.id  %>" selected> <%= categoria.titulo  %></option>
                           <% }else{ %>

                            <option value="<%= categoria.id  %>"> <%= categoria.titulo  %></option>

                          <% } %>

                            <%}) %>
                            
                    </select> <br>

                    <button type="submit" class="btn-warning">Atualizar</button>
                </form>
            </div>

        </div>
    </div>

    <div id="conteudo" style="display: none;">
        <%- artigo.body %>
    </div>

<%- include('../../partials/footer') %>

<script src="/tinymce/tinymce.min.js"></script>

<script>
tinymce.init({
    language: "pt_BR",
    selector: '#artigo',
    selector: 'textarea',
    height: 330,
    resize: false,
    plugins: [
        'advlist',
        'autolink',
        'link',
        'image',
        'lists',
        'preview',
        'searchreplace',
        'wordcount',
        'fullscreen',
        'insertdatetime',
        'media',
        'save',
        'table',
        'emoticons',
    ],


    // init_instance_callback: () => {
    //     tinymce.get('artigo').setContent($('#conteudo').html())
    // }


    init_instance_callback: () => {
        tinymce.activeEditor.setContent(document.getElementById('conteudo').innerHTML)
    }
})
</script>