<%- include('../../partials/homenavbar') %>
<%- include('../../partials/header') %>
 <%- include('../../partials/navbar') %>

<body>
    <div class="container">

        <% resultado.artigo.rows.forEach((artigo)=> { %>
            <div class="card">
                <div class="card-header">
                    <h2>
                        <%= artigo.titulo %>
                    </h2>
                </div>
                <div class="card-body">
                    <a href="/<%= artigo.slug %>" class="btn btn-success">Ler artigo</a>
                </div>
            </div>
            <br>
            <% }) %>

            <div class="row">
                <div class="col">

                    <% if (resultado.pagina > 2) { %>
                        <a class="ant" href="/admin/artigo/pagina/<%= resultado.pagina - 1 %>">
                            << Anterior </a>
                        <% }else if(resultado.pagina == 2){ %>
                           <a class="ant" href="/"><< Anterior</a>
                        <% } %>


                    <% if (resultado.proximo) { %>

                        <a href="/admin/artigo/pagina/<%= resultado.pagina + 1 %>">Próxima
                            >></a>
                        <% } %>
                </div>
            </div>
    </div>
</body>

<%- include('../../partials/footer') %>