<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>

    <div class="container"> <br>

        <div class="card">
            <div class="card-header">
                <h2>Editar categoria</h2>
            </div>

            <div class="card-body">
                <form method="POST" action="/categoria/atualizar">

                    <input class="form-control" type="text" name="titulo"
                        placeholder="Editar o titulo da categoria" value="<%= categoria.titulo %>"> <br>

                    <input type="hidden" name="id" value="<%= categoria.id %>">

                    <button type="submit" class="btn-warning">Atualizar</button>
                </form>
            </div>

        </div>
    </div>

<%- include('../../partials/footer') %>