<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>

<div class="container">
    <hr>
    <h2>Categorias</h2>

    <a href="/admin/categoria/novo"><button class="btn btn-success">Criar nova categoria</button></a>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>

            <% categoria.forEach(categoria => { %>

                <tr>
                    <th><%= categoria.id %></th>
                    <th><%= categoria.titulo %></th>
                    <th><%= categoria.slug %></th>
                    <th>
                        <a href="/admin/categoria/editar/<%= categoria.id %>"><button class="btn btn-warning">Editar</button></a>

                        <form method="POST" action="/categoria/delete" style="display: inline;" onsubmit="deleteConfirma(event, this)">
                           
                            <input type="hidden" name="id" value="<%= categoria.id %>">

                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </th>
                </tr>

           <% }) %>
        </tbody>
    </table>

</div>



<%- include('../../partials/footer') %>

<script>
    function deleteConfirma(e, form) {
        e.preventDefault();
        var decisao = confirm('Tem certeza que quer deletar esta categoria?')

        if (decisao) {
            form.submit()
        }
    }
</script>